<!DOCTYPE html> 
<html lang="en" ng-app="chartApp"> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Chart.JS</title>  

        <!-- Updated Test -->
        <!--  Include CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"> 
        <link href="css/font-awesome.min.css" rel="stylesheet"> 
        <link href="css/app.css" rel="stylesheet"> 
    </head>     
    <body ng-controller="mainCtrl"> 

    <!-- Side Menu -->
    <div class="menu">
        <div class="title"> <i class="fa fa-line-chart"></i>Finance Chart</div>
        <div>Symbol: <input type="text" value="AAPL" id="symbol" ng-model="input.symbol"> <button ng-click="getStockChart(input.symbol)">Submit</button></div>

        <div class="toplist">
            <div ng-repeat="item in topstock" class="topitem sborder" ng-click="getStockChart(item.symbol)">
                </i> {{$index+1}}. <a href="#" ng-click="getStockChart(item.symbol)">{{ item.symbol }}</a>
                <span>{{ item.LastTradePriceOnly }} ({{ item.MarketCapitalization }})</span>
                <br>
                {{ item.Name }}
            </div>
        </div>

    </div>

    <!-- Main Content -->
    <div class="main">
    <div class="content">

        <div class="topmarketcap"> 
            <div class="title">
            <i class="fa fa-bar-chart"></i> Top 10 Companies by Market Capital ($Billion)
            </div>  
            <canvas class="chart"></canvas>
        </div>
        <hr>
        <div class="monthly"> 
            <div class="title">
                <span>{{monthlysymbol}}</span>
                <span><i class="fa fa-area-chart"></i> {{monthlycompany}}</span>
                <span>{{monthlyyear}}</span>
            </div>  
            <canvas class="chart"></canvas>
        </div>
        <hr>
        <div class="snapshot">
            <div>{{ snapshot.Name }}</div>
            <span><b>Market Cap:</b> {{ snapshot.MarketCapitalization }}</span>
            <span><b>Current Price:</b> {{ snapshot.LastTradePriceOnly }}</span>
            <span><b>Previous Close:</b> {{ snapshot.PreviousClose }}</span>

            <span><b>% Change:</b> {{ snapshot.PercentChange }}</span>
            <span><b>Avg. Volume:</b> {{ snapshot.AverageDailyVolume }}</span>
            <span><b>PE Ratio:</b> {{ snapshot.PERatio }}</span>

            <span><b>Div. Date:</b> {{ snapshot.DividendPayDate }}</span>
            <span><b>Div. Share:</b> {{ snapshot.DividendShare }}</span>
            <span><b>Div. Yield:</b> {{ snapshot.DividendYield }}</span>
        </div>
        <hr>
        <div class="datatable">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Change%</th>
                    <th>$25k Investment</th>
                    <th>Open</th>
                    <th>Close</th>
                  </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in monthlytable">
                    <td>{{item.Date}}</td>
                    <td>{{item.change}}</td>
                    <td>{{item.investment}}</td>
                    <td>{{item.Open}}</td>
                    <td>{{item.Close}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <!-- Include Libraries -->
    <script src="js/jquery.min.js"></script>         
    <script src="js/bootstrap.min.js"></script>         
    <script src="js/angular.min.js"></script>    
    <script src="js/Chart.js"></script>                     
    <script src="js/app.js"></script>        
    </body>     
</html>